@model IEnumerable<Vispl.Trainee.CricInfo.VO.Cls_Player_VO>

@{
    ViewBag.Title = "DisplayPlayersDataInGrid";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Players List</h2>

@*<p>
    <button id="createNewButton" class="e-btn e-flat e-primary">Create New</button>
</p>*@

@(Html.EJS().Grid<Vispl.Trainee.CricInfo.VO.Cls_Player_VO>("GridOverview")
    .DataSource(Model)
    .AllowPaging()
    .AllowFiltering()
    .Columns(col =>
    {
        /*        col.Type("checkbox").HeaderText("").Field("").Width("60").AllowFiltering(false).AllowSorting(false).Add();*/
        col.Field("Picture").HeaderText("Picture").Width("150").Template("<img src='${Picture}' style='width: 100px; height: 100px;' alt='Player Image' />").Add();
        col.Field("JerseyNo").HeaderText("Jersey No").Width("100").Add();
        col.Field("Name").HeaderText("Name").Width("150").Add();
        col.Field("DateOfBirth").HeaderText("Date Of Birth").Width("150").Add();
        col.Field("Age").HeaderText("Age").Width("100").Add();
        col.Field("BirthPlace").HeaderText("Birth Place").Width("150").Add();
        col.Field("PlayerType").HeaderText("Player Type").Width("150").Add();
        col.Field("IsCaptain").HeaderText("Is Captain").Width("100").Add();
        col.Field("IsSubstitute").HeaderText("Is Substitute").Width("100").Add();
        col.Field("Nationality").HeaderText("Nationality").Width("100").Add();
        col.Field("MatchesPlayed").HeaderText("Matches Played").Width("100").Add();
        col.Field("RunsScored").HeaderText("Runs Scored").Width("100").Add();
        col.Field("WicketsTaken").HeaderText("Wicket Taken").Width("100").Add();
        col.Field("BattingAverage").HeaderText("Batting Average").Width("100").Add();
        col.Field("BowlingAverage").HeaderText("Bowling Average").Width("100").Add();
        col.Field("Centuries").HeaderText("Centuries").Width("100").Add();
        col.Field("HalfCenturies").HeaderText("Half-Centuries").Width("100").Add();
        col.Field("DebutDate").HeaderText("Debut Date").Width("100").Add();
        col.Field("ICCRanking").HeaderText("ICC Ranking").Width("100").Add();
        col.Field("BowlingAverage").HeaderText("Bowling Average").Width("100").Add();
        col.Field("Team").HeaderText("Team").Width("100").Add();
        /*        col.Field("PlayerID").HeaderText("Actions").Template("<a href='Edit/{{:PlayerID}}'>Edit</a> | <a href='Details/{{:PlayerID}}'>Details</a> | <a href='Delete/{{:PlayerID}}'>Delete</a>").Width("200").Add();
        */
    })
    .Render()
)

<script>
    document.getElementById("createNewButton").addEventListener("click", function () {
        window.location.href = '@Url.Action("NewPlayer", "PlayerDetails")';
    });
</script>
