@model IEnumerable<Vispl.Trainee.CricInfo.VO.Cls_MatchSchedule_VO>

@{
    ViewBag.Title = "DisplayMatchDataInGrid";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Matches List</h2>

@(Html.EJS().Grid<Vispl.Trainee.CricInfo.VO.Cls_MatchSchedule_VO>("GridOverview")
    .DataSource(Model)
    .AllowFiltering()
    .Columns(col =>
    {
        col.Field("Team1Name").HeaderText("Team 1").Width("100").Add();
        col.Field("Team2Name").HeaderText("Team 2").Width("100").Add();
        col.Field("MatchDate").HeaderText("Match Date").Width("100").Add();
        col.Field("TimeZone").HeaderText("Time Zone").Width("100").Add();
        col.Field("VenueName").HeaderText("Venue").Width("100").Add();
        col.Field("MatchFormat").HeaderText("Match Format").Width("100").Add();
        col.HeaderText("Actions").Width("100").Template("#abc").Add();
    })
    .Render()
)

@*This script take a ID from Match*@
<script type="text/x-template" id="abc">

    <button onclick=startMatch("${MatchID}")>Start Match</button>

</script>
<script>
    function startMatch(matchId) {
        window.location.href = '@Url.Action("StartMatch", "MatchSchedule")?matchId=' + matchId;
    }

    document.getElementById("createNewButton").addEventListener("click", function () {
        window.location.href = '@Url.Action("MatchSchedule", "MatchSchedule")';
    });
</script>
