@{
    ViewBag.Title = "LoginDashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>@Html.ActionLink("Logout", "Logout", "Account")</p>
<div id="ControlRegion">
    <div class="control-section">
        <div>
            @Html.EJS().DashboardLayout("defaultLayout").Columns(6).ContentTemplate(@<div>
                <div id="one" class="e-panel" data-row="0" data-col="0" data-sizeX="1" data-sizeY="1">
                    <div class="e-panel-container">
                        <div class="text-align"><a href='~/PlayerDetails/DisplayPlayersDataInGrid'>Player Details</div>
                    </div>
                </div>
                <div id="two" class="e-panel" data-row="1" data-col="0" data-sizeX="1" data-sizeY="2">
                    <div class="e-panel-container">
                        <div class="text-align"><a href='~/TeamDetails/DisplayTeamDetailsInGrid'>Team Details</div>
                    </div>
                </div>
                <div id="three" class="e-panel" data-row="0" data-col="1" data-sizeX="2" data-sizeY="2">
                    <div class="e-panel-container">
                        <div class="text-align"><a href='/MatchSchedule/MatchSchedule'>Match Scheduling</div>
                    </div>
                </div>
                <div id="four" class="e-panel" data-row="2" data-col="1" data-sizeX="1" data-sizeY="1">
                    <div class="e-panel-container">
                        <div class="text-align"><a href='~/TeamDetails/TeamDetails'>Create Teams</div>
                    </div>
                </div>
                <div id="five" class="e-panel" data-row="2" data-col="2" data-sizeX="2" data-sizeY="1">
                    <div class="e-panel-container">
                        <div class="text-align"><a href='~/PlayerDetails/NewPlayer'>Create Players</div>
                    </div>
                </div>
                <div id="six" class="e-panel" data-row="0" data-col="3" data-sizeX="1" data-sizeY="1">
                    <div class="e-panel-container">
                        <div class="text-align">5</div>
                    </div>
                </div>
                <div id="seven" class="e-panel" data-row="1" data-col="3" data-sizeX="1" data-sizeY="1">
                    <div class="e-panel-container">
                        <div class="text-align">6</div>
                    </div>
                </div>
                <div id="eight" class="e-panel" data-row="0" data-col="4" data-sizeX="1" data-sizeY="3">
                    <div class="e-panel-container">
                        <div class="text-align">7</div>
                    </div>
                </div>
            </div>).Render()
        </div>
    </div>
    <style>
        #defaultLayout {
            padding: 10px;
        }

            #defaultLayout .e-panel .e-panel-container {
                vertical-align: middle;
                font-weight: 600;
                font-size: 20px;
                text-align: center;
            }

        .text-align {
            line-height: 160px;
        }
    </style>
</div>

