/* General styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Container for login elements */
.login-container {
    display: flex;
    justify-content: space-between;
}

/* SVG container on the left */
.svg-container {
    width: 50%;
}

/*    .svg-container img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
    }*/

/* Form container on the right */
.form-container {
    width: 50%;
}

.form-horizontal {
    width: 100%;
}

.form-group {
    margin-bottom: 15px;
}

.control-label {
    font-weight: bold;
}


.btn-default {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.text-danger {
    color: #dc3545;
    font-size: 14px;
    margin-top: 5px;
}

@media (max-width: 768px) {
    .login-container {
        flex-direction: column;
    }

    .svg-container, .form-container {
        max-width: 100%;
    }
}
